body {
	background: black url('blurry.jpg');
	background-repeat: no-repeat;
	font-family: arial;
}

body.inverted {
	background-image: url('clear.jpg');
}

button.invert {
	position: absolute;
	z-index: 100;
	right: 40px;
	top: 30px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 7px;
	padding: 10px 20px;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	outline: none;
	cursor: pointer;
	letter-spacing: 2px;
}

button.invert:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.lense {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	cursor: crosshair;
	text-align: center;

	/* This is the magic (the fixed part) */
	background: url('clear.jpg') fixed;

	/* For extra effect */
	-webkit-box-shadow: 0 0 50px -25px #000;
	box-shadow: 0 0 50px -25px #000;

	/* Initial Placement */
	position: absolute;
	top: 150px;
	left: 50%;
	margin-left: -100px;
	
}

body.inverted .lense {
	background: url('blurry.jpg') fixed;
}

.lense.initial::before {
	content: 'Drag Me';
	line-height: 180px;
	color: #fff;
	text-shadow: 0 0 1px #000000;
}

body::after {
	content: '@bradwestfall';
	position: fixed;
	bottom: 20px;
	left: 20px;
	font-style: italic;
	color: rgba(255, 255, 255, 0.3);
}