@charset "UTF-8";
@import url(/vendor/components/fontawesome/css/font-awesome.min.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  font-family: Roboto, Arial;
  font-weight: 100; }

html, body {
  height: 100%; }

body {
  min-height: 100%; }

img {
  border: 0; }

a, a:focus, a:active {
  outline: 0; }

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
@-webkit-keyframes slide-panel {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px); }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes slide-panel {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px); }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes toss {
  0% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }

  50% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }

  100% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); } }
@-webkit-keyframes toss {
  0% {
    -webkit-transform: rotate(-4deg); }

  50% {
    -webkit-transform: rotate(4deg); }

  100% {
    -webkit-transform: rotate(-4deg); } }
a {
  text-decoration: none;
  color: white; }
  a:hover {
    text-decoration: underline; }

*::-moz-selection {
  background-color: #000; }

*::selection {
  background-color: #000; }

h1 {
  font-weight: normal; }
  h1.primary {
    font: 24pt "Nothing You Could Do";
    font-weight: normal;
    position: absolute;
    left: 0px;
    top: 207px;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }

p {
  margin: 15px 0;
  text-align: justify;
  line-height: 180%;
  font-size: 14pt; }

q {
  quotes: "“" "”" "‘" "’";
  font-size: 15pt; }
  q::before {
    content: open-quote;
    font: 20pt 'Vast Shadow';
    margin-right: 10px; }
  q::after {
    content: close-quote;
    font: 20pt 'Vast Shadow';
    margin-left: 10px; }
  q.breakout {
    display: block;
    quotes: none;
    margin: 15px 0;
    font-style: italic;
    font: 20pt "Nothing You Could Do"; }
    q.breakout::before, q.breakout::after {
      display: block;
      content: '';
      height: 2px;
      border-bottom: 1px solid #fff;
      border-top: 3px solid #fff; }
    q.breakout::before {
      margin-bottom: 20px; }
    q.breakout::after {
      border-bottom-width: 3px;
      border-top-width: 1px;
      margin-top: 20px; }

cite {
  display: block; }

div.page {
  background: -webkit-radial-gradient(rgba(28, 232, 214, 0.75), rgba(0, 134, 217, 0.1)), url("/images/bg.jpg") no-repeat center center fixed;
  background: radial-gradient(rgba(28, 232, 214, 0.75), rgba(0, 134, 217, 0.1)), url("/images/bg.jpg") no-repeat center center fixed;
  overflow: hidden;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 0 10px; }

.panel {
  margin: 20px 0; }
  .panel article {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    max-width: 1060px;
    padding: 20px;
    margin: 0 auto; }
    .panel article > div {
      max-width: 960px;
      margin: 0 auto; }

#primary-header > div {
  position: relative; }
  @media screen and (min-width: 1050px) {
    #primary-header > div {
      width: 960px;
      margin: 0 auto; } }
#primary-header .blurb {
  text-align: center;
  position: relative; }
  #primary-header .blurb span {
    width: 100%;
    display: block;
    font: 20pt "Nothing You Could Do"; }
#primary-header h1.blurb span {
  display: none; }
  @media screen and (min-width: 1050px) {
    #primary-header h1.blurb span {
      display: block;
      font-size: 50pt;
      -webkit-animation: slide-up 1s forwards;
      animation: slide-up 1s forwards;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 0; } }
#primary-header h2.blurb span {
  display: none; }
  @media screen and (min-width: 1050px) {
    #primary-header h2.blurb span {
      -webkit-animation: slide-up 1s forwards;
      animation: slide-up 1s forwards;
      -webkit-animation-delay: 1.25s;
      animation-delay: 1.25s;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 0;
      display: block; } }
#primary-header .core-competencies ul {
  display: none;
  text-align: center;
  list-style: none; }
  #primary-header .core-competencies ul:before, #primary-header .core-competencies ul:after {
    content: " ";
    display: table; }
  #primary-header .core-competencies ul:after {
    clear: both; }
  #primary-header .core-competencies ul .cf {
    *zoom: 1; }
  @media screen and (min-width: 1050px) {
    #primary-header .core-competencies ul {
      display: block;
      -webkit-animation: slide-up 1s forwards;
      animation: slide-up 1s forwards;
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 0; } }
#primary-header .core-competencies li {
  float: left;
  width: 33.33%; }
  #primary-header .core-competencies li span {
    font-size: 15pt; }
  #primary-header .core-competencies li::before {
    font-size: 40pt;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #primary-header .core-competencies li.js::before {
    content: "\f121";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 20px; }
  #primary-header .core-competencies li.mobile::before {
    content: "\f10b";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 25px; }
  #primary-header .core-competencies li.performance::before {
    content: "\f135";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 20px; }
  @media screen and (min-width: 1050px) {
    #primary-header .core-competencies li::before {
      font-size: 80pt; } }

.logo {
  width: 300px;
  height: 75px;
  display: block;
  margin: 40px auto 0 auto;
  background: url("/images/logo.png") no-repeat top right;
  -webkit-background-size: 100%;
  background-size: 100%; }
  .logo span {
    display: none; }

nav.primary-nav {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  margin-top: 10px; }
  nav.primary-nav a {
    display: inline-block;
    padding: 10px 30px;
    font-size: 15pt;
    text-transform: lowercase;
    color: #FFF;
    -webkit-transition: .5s;
    transition: .5s; }
    nav.primary-nav a:hover {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.1); }
  @media screen and (min-width: 830px) {
    nav.primary-nav {
      margin: 0;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 0; } }
  @media screen and (min-width: 1050px) {
    nav.primary-nav {
      position: absolute;
      top: 3px;
      width: 100%;
      border: none; }
      nav.primary-nav a {
        display: block;
        padding: 5px 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
        nav.primary-nav a:nth-child(1), nav.primary-nav a:nth-child(2) {
          float: left; }
        nav.primary-nav a:nth-child(3), nav.primary-nav a:nth-child(4) {
          float: right; }
        nav.primary-nav a:nth-child(1) {
          border-radius: 5px 0 0 5px; }
        nav.primary-nav a:nth-child(3) {
          border-radius: 0 5px 5px 0; }
        nav.primary-nav a:hover {
          border-color: #FFF; } }

#services article > div {
  padding-bottom: 0px; }
  #services article > div:before, #services article > div:after {
    content: " ";
    display: table; }
  #services article > div:after {
    clear: both; }
  #services article > div .cf {
    *zoom: 1; }
#services article .headline {
  display: block;
  padding: 25px 0;
  text-align: center; }
  @media screen and (min-width: 1050px) {
    #services article .headline {
      float: left;
      width: 50%;
      padding-right: 20px; } }
#services article h1 {
  font-family: "Vast Shadow";
  font-size: 30pt; }
  @media screen and (min-width: 600px) {
    #services article h1 {
      font-size: 50pt;
      line-height: 60%; } }
#services article .sub-title {
  display: block;
  margin: 25px 0;
  position: relative;
  height: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  @media screen and (min-width: 1050px) {
    #services article .sub-title {
      border: none; }
      #services article .sub-title::before, #services article .sub-title::after {
        border-bottom: 1px solid #fff;
        border-top: 3px solid #fff;
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        top: 12px;
        width: 80px; }
      #services article .sub-title::before {
        left: 0; }
      #services article .sub-title::after {
        right: 0; } }
  #services article .sub-title > span {
    font-size: 0;
    margin: 0 10px; }
    #services article .sub-title > span::before {
      font-size: 15pt; }
    #services article .sub-title > span.js {
      font-size: 15pt; }
    #services article .sub-title > span.css:before {
      content: "\f13c";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    #services article .sub-title > span.html:before {
      content: "\f13b";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    #services article .sub-title > span.mobile:before {
      content: "\f10b";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    #services article .sub-title > span.performance:before {
      content: "\f135";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    #services article .sub-title > span.security:before {
      content: "\f023";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
#services article .service-types:before, #services article .service-types:after {
  content: " ";
  display: table; }
#services article .service-types:after {
  clear: both; }
#services article .service-types .cf {
  *zoom: 1; }
@media screen and (min-width: 1050px) {
  #services article .service-types {
    float: right;
    width: 50%;
    padding-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3); } }
#services article .service {
  display: block;
  padding-left: 70px;
  position: relative;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  #services article .service::before {
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    left: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 25pt;
    border-radius: 3px;
    -webkit-transition: .5s;
    transition: .5s; }
  #services article .service.html::before {
    content: "\f13b";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 8px; }
  #services article .service.css::before {
    content: "\f13c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 8px; }
  #services article .service.js::before {
    content: 'JS';
    font-size: 20pt;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 17px;
    padding-right: 3px;
    text-align: right;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.2); }
  #services article .service.mobile::before {
    content: "\f10b";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 8px; }
  #services article .service.performance::before {
    content: "\f135";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 8px; }
  #services article .service.security::before {
    content: "\f023";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 8px; }
  #services article .service:hover::before {
    color: rgba(255, 255, 255, 0.8); }
  #services article .service:hover.html::before {
    background-color: #e54d26; }
  #services article .service:hover.css::before {
    background-color: #1964c6; }
  #services article .service:hover.js::before {
    background-color: #e7cf3f;
    color: #555; }
  #services article .service:hover.mobile::before {
    background-color: #b62ad6; }
  #services article .service:hover.performance::before {
    background-color: #4aba6a; }
  #services article .service:hover.performance a {
    color: #4aba6a; }
  #services article .service:hover.security::before {
    background-color: #d10808; }
  #services article .service > span {
    font: 15pt "Nothing You Could Do";
    display: block; }
  @media screen and (min-width: 915px) and (max-width: 1049px) {
    #services article .service {
      float: left;
      width: 50%;
      height: 80px; } }
#services article q.breakout {
  clear: both;
  display: none; }
  @media screen and (min-width: 1050px) {
    #services article q.breakout {
      display: block; } }

#portfolio article > div {
  position: relative;
  min-height: 230px; }
#portfolio article .projects {
  margin-left: 55px; }
#portfolio article figure {
  margin: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;
  cursor: pointer; }
  #portfolio article figure h2 {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding-top: 50px;
    font-size: 14pt;
    width: 100%;
    height: 120px; }
  #portfolio article figure figcaption {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    color: #3183be;
    background-color: #fff;
    font-size: 18pt;
    line-height: 180%;
    letter-spacing: 1px;
    padding: 20px;
    padding-left: 50px;
    -webkit-transition: .5s;
    transition: .5s; }
    #portfolio article figure figcaption::before {
      content: "\f057";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      top: 30px;
      left: 20px;
      opacity: 0.4; }
    #portfolio article figure figcaption:hover {
      padding-bottom: 50px;
      -webkit-transition: .5s;
      transition: .5s; }
      #portfolio article figure figcaption:hover::before {
        opacity: 1; }
    #portfolio article figure figcaption a {
      display: block;
      font-weight: normal;
      color: #3183be; }
  #portfolio article figure.selected figcaption {
    display: block; }
@media screen and (min-width: 650px) {
  #portfolio article figure {
    display: inline-block; }
    #portfolio article figure h2 {
      width: 150px;
      font-size: 12pt; } }
@media screen and (min-width: 1050px) {
  #portfolio article figure {
    -webkit-perspective: 1000;
    perspective: 1000;
    padding: 10px;
    cursor: default; }
    #portfolio article figure:hover > div {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
    #portfolio article figure > div {
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      position: relative; }
    #portfolio article figure h2 {
      width: 260px;
      height: 260px;
      padding-top: 110px;
      font-size: 20pt;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    #portfolio article figure figcaption {
      padding: 20px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: 12pt; }
      #portfolio article figure figcaption::before {
        display: none; } }

#testimonials article > div {
  position: relative;
  min-height: 300px; }
#testimonials article .quotes {
  margin-left: 55px; }
  @media screen and (min-width: 800px) {
    #testimonials article .quotes {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 40px;
      -moz-column-gap: 40px;
      column-gap: 40px;
      -webkit-column-rule: 1px solid rgba(255, 255, 255, 0.3);
      -moz-column-rule: 1px solid rgba(255, 255, 255, 0.3);
      column-rule: 1px solid rgba(255, 255, 255, 0.3); } }
#testimonials article blockquote {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  @media screen and (min-width: 800px) {
    #testimonials article blockquote {
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      -o-column-break-inside: avoid;
      -ms-column-break-inside: avoid;
      column-break-inside: avoid; } }
#testimonials article cite {
  margin-top: 10px;
  font-weight: normal; }

#contact article > div {
  position: relative;
  padding-right: 120px; }
#contact article .me {
  position: absolute;
  right: -80px;
  top: -50px;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px; }
  #contact article .me img {
    width: 100%;
    height: 100%;
    border-radius: 50%; }
#contact article h1 {
  min-height: 50px;
  font: 15pt "Vast Shadow";
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  @media screen and (min-width: 700px) {
    #contact article h1 {
      font-size: 30pt; } }
#contact article .contact {
  display: inline-block;
  margin-top: 10px;
  padding-right: 30px;
  text-decoration: none; }
  #contact article .contact::before {
    margin-right: 10px; }
  #contact article .contact.email::before {
    content: "\f1d8";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  #contact article .contact.twitter::before {
    content: "\f099";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  #contact article .contact.tube::before {
    content: "\f167";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
