// Theme

// Reset Vars
$font-family: 'Lato', Arial;
$title-font-family: 'Lato', Arial;
$script-font-family: 'Caveat';

$font-size: 12pt;
$font-weight: 100;
$text-color: #444;
$text-color-light: #888;
$disabled-text-color: #aaa;
$anchor-color: #000;

// Structure
$gutter: 1rem;