/**
 * Utils
 */
/**
 * Base
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #444;
  font: 12pt "Lato", Arial;
  font-weight: 100;
  letter-spacing: 0.05em; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0; }

a {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", Arial;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.3em; }

h3 {
  font-size: 1.1em; }

h4, h5, h6 {
  font-size: 1em; }

strong {
  font-weight: 700; }

p {
  line-height: 1.5em; }

/**
 * Layouts
 */
.main-layout {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; }

main {
  background-color: black;
  position: fixed;
  top: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-340em, -50%);
          transform: translate(-340em, -50%);
  width: 400em;
  height: 400em;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  position: relative;
  color: white; }
  main[data-page='javascript'] {
    -webkit-transform: translate(-340em, -50%) rotate(-18deg);
            transform: translate(-340em, -50%) rotate(-18deg); }
  main[data-page='css'] {
    -webkit-transform: translate(-340em, -50%) rotate(-36deg);
            transform: translate(-340em, -50%) rotate(-36deg); }
  main > div {
    position: absolute;
    width: 11%;
    height: 10%;
    left: 50%;
    top: 50%;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0; }
    main > div > div {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      -webkit-transform: translateX(387%);
              transform: translateX(387%); }
  main > div:nth-child(1) {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%); }
  main > div:nth-child(2) {
    -webkit-transform: rotate(18deg) translate(-50%, -50%);
            transform: rotate(18deg) translate(-50%, -50%); }
  main > div:nth-child(3) {
    -webkit-transform: rotate(36deg) translate(-50%, -50%);
            transform: rotate(36deg) translate(-50%, -50%); }

aside {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 35vw; }
  aside nav {
    position: absolute;
    top: 1em;
    right: 1em; }
    aside nav a {
      text-align: right;
      font-size: 1.5em;
      display: block;
      text-transform: uppercase; }
      aside nav a:visited {
        font-weight: bold; }

.logo {
  position: absolute;
  bottom: 2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%; }

.intro {
  text-align: justify;
  text-transform: uppercase; }
  .intro > * + * {
    margin-top: 0.7rem; }
  .intro > div {
    line-height: 100%; }
  .intro > div:nth-child(1) {
    font-size: 4.1em;
    letter-spacing: 0.3em; }
  .intro > div:nth-child(2) {
    font-size: 1.8em;
    letter-spacing: 1em; }
  .intro > div:nth-child(3) {
    font-size: 2.4em;
    letter-spacing: 1em; }
  .intro > div:nth-child(4) {
    font-size: 5em;
    letter-spacing: 0.3em; }
  .intro > div:nth-child(5) {
    font: 2em "Caveat";
    font-weight: 400;
    text-align: left;
    text-transform: none;
    letter-spacing: 0.1em; }
