//***********************************
//  STRUCTURE
//***********************************

@mixin center-block($width: auto) {
	width: $width;
	margin: 0 auto;
}

@mixin spacing($gap: 10px) {
	margin-top: $gap;
	margin-bottom: $gap;
}

@mixin clearfix {
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}
	&:after {
	    clear: both;
	}
	// IE 6/7
	.cf {
	    *zoom: 1;
	}
}

// To be used with @extends
%clearfix {
	@include clearfix;
}


// ***********************************
//  Misc
// ***********************************

// Smart Inheritance
@mixin smart-inherit() {
	span, p, ul, li, h1, h2, h3, h4, h5, h6, strong, b, em, i, q {
		text-align: inherit;
		text-decoration: inherit;
		text-transform: inherit;
		font: inherit;
		color: inherit;
	}
	a {
		text-align: inherit;
		text-decoration: inherit;
		text-transform: inherit;
		font: inherit;
	}
}


// ***********************************
//  Responsive
// ***********************************

// Responsive
@mixin respond($min-width, $max-width:0) {
	@if $max-width > 0 {
		@media screen and (min-width: $min-width) and (max-width: $max-width) {
			@content;
		}	
	} @else {
		@media screen and (min-width: $min-width) {
			@content;
		}	
	}
}
