body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

img { 
	border: 0;
}

a, a:focus, a:active {
	outline: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: $body_background_color;
}

body * {
	@include default_text;
}

a {
	text-decoration: none;
	@include default_anchor;
}