body {
	background: radial-gradient(rgba(35, 195, 168, 0.45), rgba(0,134,217,0.1)) fixed, url('/images/bg.jpg') no-repeat center center fixed;
	background-size: cover;
}

div.page {
	overflow: hidden; // Collapsing Margins and prevent "me" image from overflowing body
	padding: 0 10px;
}

.panel {
	margin: 20px 0;

	article {
		background-color: rgba(0,0,0,0.1);
		background: radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2));
		border-radius: 30px;
		max-width: $default-page-width + 100px;
		padding: 20px;
		margin: 0 auto;

		> div {
			max-width: $default-page-width;
			margin: 0 auto;
		}
	}
}
