#portfolio article {

	> div {
		position: relative; // for h1
		min-height: 230px;
	}

	.projects {
		margin-left: 55px;
	}

	// Small Viewport
	figure {
		margin: 5px;
		border: 1px solid $white-fade;
		padding: 5px;
		cursor: pointer;

		h2 {
			background-color: $white-fade;
			text-align: center;
			padding-top: 50px;
			font-size: 14pt;
			width: 100%;
			height: 120px;
		}

		figcaption {
			display: none;
			position: fixed;
			bottom: 0; left: 0; right: 0;
			z-index: 100;
			color: $brand-color;
			background-color: #fff;
			font-size: 18pt;
			line-height: 180%;
			letter-spacing: 1px;
			padding: 20px;
			padding-left: 50px;

			&::before {
				@include font-awesome('\f057');
				position: absolute;
				top: 30px; left: 20px;
				opacity: 0.4;
			}

			&:hover {
				padding-bottom: 50px;
				&::before {
					opacity: 1;
				}
			}

			a {
				display: block;
				font-weight: normal;
				color: $brand-color;
			}
		}

		&.selected {
			figcaption {
				display: block;
			}
		}

	}

	// Medium Viewport
	@include respond(650px) {
		figure {
			display: inline-block;
			h2 {
				width: 150px;
				font-size: 12pt;
			}
		}
	}

	// Large Viewport
	@include respond($desktop-breakpoint) {
		figure {
			perspective: 1000;
			padding: 10px;
			cursor: default;

			&:hover > div {
				transform: rotateY(180deg);
			}

			> div {
				transform-style: preserve-3d;
				transition: 0.5s;
				position: relative;
			}

			h2 {
				width: 260px;
				height: 200px;
				padding-top: 75px;
				font-size: 20pt;
				backface-visibility: hidden;
			}

			figcaption {
				padding: 20px;
				backface-visibility: hidden;
				transform: rotateY(180deg);
				display: block;
				position: absolute;
				top: 0; bottom: 0; left: 0; right: 0;
				font-size: 12pt;
				&::before {
					display: none;
				}
			}
		}
	}
}