// ***********************************
//  PRIMARY HEADER
// ***********************************/

#primary-header {

	> div {
		position: relative;
		@include respond($desktop-breakpoint) {
			@include center-block($default-page-width);
		}
	}

	.blurb {
		text-align: center;
		position: relative;
		//opacity: 0.85;
		span {
			width: 100%;
			display: block;
			font: 20pt $fancy-font;
		}
	}

	h1.blurb {
		span {
			display: none;
			@include respond($desktop-breakpoint) {
				display: block;
				font-size: 50pt;
				@include slide-up(0.5s);
			}
		}
	}

	h2.blurb {
		span {
			display: none;
			@include respond($desktop-breakpoint) {
				@include slide-up(1.25s);
				display: block;
			}
		}
	}

	.core-competencies {

		display: none;
	 	text-align: center;
	 	list-style: none;
	 	@include clearfix;

	 	@include respond($desktop-breakpoint) {
			display: block;
	 		@include slide-up(2s);
	 	}

		a {
			text-decoration: none;
			float: left;
			width: 33.33%;
			span { font-size: 15pt; }
			&::before {
				font-size: 40pt;
				display: block;
				margin: auto;
				margin-bottom: 10px;
				box-sizing: border-box;
				@include animate-toss(4s);
			}
			&.js::before { @include font-awesome("\f121") { padding-top: 20px; } }
			&.mobile::before { @include icon-mobile { padding-top: 25px; } }
			&.performance::before { @include icon-performance { padding-top: 20px; } }
		
			@include respond($desktop-breakpoint) {
				&::before {
					font-size: 80pt;
				}
			}

		}

	}
	
}

.logo {
	width: 300px;
	height: 75px;
	display: block;
	margin: 40px auto 0 auto;
	background: url('/images/logo.png') no-repeat top right;
	background-size: 100%;
 	span { display: none; }
}


// ***********************************
//  PRIMARY NAV
// ***********************************/

nav.primary-nav {
	
	text-align: center;
	border: 1px solid $white-fade;
	border-radius: 3px;
	margin-top: 10px;

	a {
		display: inline-block;
		padding: 10px 30px;
		font-size: 15pt;
		text-transform: lowercase;
		color: #FFF;
		transition:.5s;
		&:hover {
			text-decoration: none;
			background-color: rgba(255,255,255,0.1);
		}
	}

	@include respond(830px) {
		margin: 0;
		border: none;
		border-bottom: 1px solid $white-fade;
		border-radius: 0;
	}

	@include respond($desktop-breakpoint) {
		position: absolute;
		top: 3px;
		width: 100%;
		border: none;
		a {
			display: block;
			padding: 5px 30px;
			border-bottom: 1px solid $white-fade;
			
			&:nth-child(1), &:nth-child(2) { float: left; }
			&:nth-child(3), &:nth-child(4) { float: right; }
			&:nth-child(1) {
				border-radius: 5px 0 0 5px;
			}
			&:nth-child(3) {
				border-radius: 0 5px 5px 0;
			}
			&:hover {
				border-color: #FFF;
				//background-color: rgba(255,255,255,0.1);
			}
		}
	}
}
