// ***********************************
//  Slide Up
// ***********************************/

@mixin slide-up($delay) {
	animation: slide-up 1s forwards;
	animation-delay: $delay;
	animation-timing-function: ease-out;
	opacity: 0;
}

@keyframes slide-up {
	0% {
		transform: translateY(30px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}


// ***********************************
//  Toss
// ***********************************/

@mixin animate-toss($duration) {
	animation-name: toss;
	animation-duration: $duration;	
	animation-iteration-count: infinite;
}

@keyframes toss {
	0% { transform: rotate(-4deg); }
	50% { transform: rotate(4deg); }
	100% { transform: rotate(-4deg); }				
}
