// ****************************************
//   Inherited Syles
// ****************************************

// See this explanation for details
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

html {
  box-sizing: border-box;
  color: $text-color;
  font: $font-size $font-family;
  font-weight: $font-weight;
  letter-spacing: 0.05em;
}

*, *::before, *::after {
  box-sizing: inherit;
}


// ****************************************
//   Resets
// ****************************************

body {
  margin: 0;
}