// Contain elements that overflow the outer edges
.website {
  overflow: hidden;
  width: 100vw;
}

.panel > div {
  padding: 1em;

  @media (min-width: 1000px) {
    padding: 1em 0;
    margin: 0 auto;
    width: 1000px;
    background-position: calc(50% - 23em) 2em;
  }
}

.panel.hero {
  color: $gold;
  background-color: $blue-gray;

  > div {
    position: relative;
    text-align: center;

    @media (min-width: 750px) {
      height: 350px;
      text-align: left;
      background-image: url('/images/website.svg');
      background-repeat: no-repeat;
      background-size: 30em;
      background-position: 0 7em;
    }

    .logo {
      max-width: 30em;

      @media (min-width: 750px) {
        position: absolute;
        top: 2em;
        left: 1em;
        width: 10em;
      }
    }

    .primary-nav {
      display: none;

      @media (min-width: 750px) {
        display: block;
        position: absolute;
        top: 2em;
        right: 1em;
        a {
          font-size: 1.4em;
          font-weight: 100;
          font-family: $title-font-family;
        }
        a + a {
          margin-left: 2em;
          &::before {
            content: '';
            display: inline-block;
            width: 0.2em;
            height: 1em;
            background-color: #435a63;
            transform: skew(-20deg) translate(-1em, 0.2em);
          }
        }
      }
    }

    .message {
      margin: 3em 0;

      .title {
        font-weight: 100;
        font-family: 'Teko';
        font-size: 5em;
        line-height: 80%;
      }
      .sub-title {
        font-size: 2em;
        font-weight: 100;
      }

      @media (min-width: 750px) {
        position: absolute;
        bottom: 3em;
        left: 1em;
      }
    }

    @media (min-width: 750px) {
      &::before {
        content: '';
        background-image: url('/images/down-arrow.svg');
        background-size: contain;
        width: 80px;
        height: 144px;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        bottom: 4em;
      }
    }
  }
}


.panel.javascript {
  background-color: $gold;
  position: relative;

  > div {
    min-height: 180px;
    position: relative;

    @media (min-width: 700px) {
      &::before {
        content: 'JS';
        position: absolute;
        bottom: 2rem;
        right: 1rem;
        font-family: 'Teko';
        font-size: 4em;
        line-height: 1em;
        color: $blue-gray;
        padding: 0.8em 0.2em 0 0.8em;
        box-shadow: 0 0 10px -5px #000;
        background-image: linear-gradient(-45deg, darken($gold, 10%), lighten($gold, 10%));
      }
    }
  }

  .message {
    margin: 0;
    font-size: 1.5em;

    @media (min-width: 700px) {
      font-size: 1.8em;
      margin-right: 12rem;
    }
  }

  &::before {
    content: '';
    display: block;
    width: 1em;
    height: 2em;
    background-color: $gold;
    transform: skew(-20deg) translateY(-100%);
    box-shadow:
      -30px 0 $gold,
      -60px 0 $gold,
      -90px 0 $gold,
      -120px 0 $gold,
      -150px 0 $gold,
      -180px 0 $gold,
      -210px 0 $gold,
      -240px 0 $gold,
      -270px 0 $gold,
      -300px 0 $gold;
    position: absolute;
    right: 0em;
  }
}

.panel.js-training {
  > div {
    position: relative;
    text-align: right;
    @media (min-width: 700px) { padding-left: 8em; }

    .brand {
      vertical-align: middle;

      img {
        height: 2em;
        transform: scale(0.8);
      }

      @media (min-width: 700px) {
        img { height: 3em; }
        // &.express { height: 2em; }
        + .brand { margin-left: 4em; }
      }
    }

    &::after {
      content: '';
      display: block;
      background-color: $tan;
      transform: skew(-20deg) translateX(100px);
      height: 100%;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &::before {
      content: '';
      display: block;
      width: 1em;
      height: 100%;
      transform: skew(-20deg) translateX(100px);
      box-shadow:
        -30px 0 $tan,
        -60px 0 $tan,
        -90px 0 $tan,
        -120px 0 $tan,
        -150px 0 $tan;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}


.panel.work {
  > div {
    position: relative;

    .projects {
      margin-bottom: 6em;

      @media (min-width: 900px) {
        width: 38em;
      }

      a.title::after {
        content: '';
        display: inline-block;
        background-image: url('/images/leave-page.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 0.5em;
        height: 0.5em;
        margin-left: 0.7em;
      }
    }

    .laptop {
      display: none;
      @media (min-width: 900px) {
        display: block;
        position: absolute;
        top: 3em;
        right: -15em;
        z-index: 10;
      }
    }

  }
}

.panel.css {
  background-color: $blue;
  color: #fff;
  position: relative;

  &::before {
    $pitch: 5vw;
    content: '';
    display: block;
    border: $pitch solid transparent;
    border-right-width: 100vw;
    border-right-color: $blue;
    border-bottom-width: 0;
    border-left-width: 0;
    position: absolute;
    top: -$pitch;
    z-index: -1;
  }

  > div {
    position: relative;

    .message {
      margin-top: 3em;
      @media (min-width: 700px) {
        margin-left: 15em;
      }

      h1 {
        text-align: right;
      }

      p {
        font-size: 1.5em;
        overflow: hidden; // collapsing margins
      }
    }

    @media (min-width: 700px) {
      &::after {
        content: '';
        display: block;
        width: 20em;
        height: 25em;
        background-image: url('/images/css3.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: -7em;
        top: -2.2em;
      }
    }

  }
}

.cool-stripes {
  position: relative;
  height: 1em;

  &::after {
    content: '';
    display: block;
    background-color: $dark-blue;
    transform: skew(-20deg) translateX(320px);
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &::before {
    content: '';
    display: block;
    width: 1em;
    height: 100%;
    transform: skew(-20deg) translateX(320px);
    box-shadow:
      -30px 0 $dark-blue,
      -60px 0 $dark-blue,
      -90px 0 $dark-blue,
      -120px 0 $dark-blue,
      -150px 0 $dark-blue,
      -180px 0 $dark-blue,
      -210px 0 $dark-blue,
      -240px 0 $dark-blue;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.panel.contact {
  > div {
    text-align: right;
    position: relative;
    height: 10em;

    @media (min-width: 700px) {
      &::before {
        content: '';
        display: block;
        width: 40em;
        height: 30em;
        background-image: url('/images/splat.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: -5em;
        left: -15em;
      }
    }

    .details {
      font: 1.5em $title-font-family;

      > .detail + .detail {
        margin-left: 2em;
        &::before {
          content: '';
          display: inline-block;
          width: 0.2em;
          height: 1em;
          background-color: #435a63;
          transform: skew(-20deg) translate(-1em, 0.2em);
        }
      }
    }
  }
}