// Reset Vars
$default-font-family: Roboto, Arial;
$default-text-color: #fff;
$default-anchor-color: #fff;

// Structure
$default-page-width: 960px;

// Common Breakpoints
$desktop-breakpoint: 1050px;

// Theme
$brand-color: rgb(49, 131, 190);
$fancy-font: 'Nothing You Could Do';
$white-fade: rgba(255,255,255,0.3);

// Misc Colors
$color-html: #E54D26;
$color-css: #1964C6;
$color-js: #E7CF3F;
$color-performance: #4aba6a;
$color-mobile: #b62ad6;
$color-security: #d10808;